
//@import "bourbon";
// @import "neat";
@import "partials/_mixins";
@import "partials/_variables";
@import "partials/_base";
@import "partials/_fonts";
@import "partials/_clases";
@import "modules/_nav";
@import "modules/_sliders";
@import "sections/_news";
@import "sections/_instagram";
@import "sections/_contacto";
@import "sections/_newsletter";
@import "sections/_ubicacion";
@import "sections/_productos";
@import "sections/_producto";
@import "sections/_single-noticia.scss";
@import "sections/_nosotros.scss";
@import "sections/_404.scss";
@import "sections/_footer";



section.contacto { position: relative; padding: 50px 0; }
@media (max-width: 767px) { section.contacto .titulo-contacto { margin-bottom: 50px; } }
section.contacto form#contacto .form-group .form-control { border: 2px solid black; border-radius: 0; padding: 20px; text-transform: uppercase; letter-spacing: 3px; }
section.contacto form#contacto .btn-negro-lg { margin-top: 10px; padding: 10px 40px; }
section.contacto form#contacto .wpcf7-form-control.wpcf7-submit { border-radius: 0; background-color: #000; border: 1px solid black; font-family: "Greysans", Helvetica, Arial, sans-serif; color: white; text-transform: uppercase; font-size: 14px; font-size: 0.875rem; letter-spacing: 3px; transition: all 0.3s ease; cursor: pointer; margin-top: 10px; padding: 10px 40px; }
section.contacto form#contacto .wpcf7-form-control.wpcf7-submit:hover, section.contacto form#contacto .wpcf7-form-control.wpcf7-submit:focus { text-decoration: none; color: black; }
section.contacto form#contacto .wpcf7-form-control.wpcf7-submit:hover, section.contacto form#contacto .wpcf7-form-control.wpcf7-submit:focus { background-color: #494a4a; border-color: transparent; color: white; }
section.contacto .wpcf7-response-output { margin-top: 20px; padding: 10px; text-align: center; }
section.contacto .wpcf7-response-output.wpcf7-validation-errors, section.contacto .wpcf7-response-output.wpcf7-acceptance-missing { border-color: red; }
@media (min-width: 769px) { section.contacto img.mapa-r, section.contacto img.mapa-l { display: table; margin: 0 auto; margin-top: 50px; } }
@media (max-width: 768px) { section.contacto img.mapa-r, section.contacto img.mapa-l { display: none; } }
@media (min-width: 769px) { section.contacto img.mapa-chile-v { max-width: 350px; display: none; } }
@media (max-width: 768px) { section.contacto img.mapa-chile-v { display: block; max-width: 250px; margin: 30px auto; } }

section.newsletter { padding-bottom: 100px; }
section.newsletter form#newsletter { max-width: 650px; margin: 0 auto; }
section.newsletter form#newsletter .form-group { position: relative; margin-bottom: 0; }
section.newsletter form#newsletter .form-group .form-control { border: 2px solid black; border-radius: 0; padding: 20px; text-transform: uppercase; letter-spacing: 3px; }
@media (max-width: 423px) { section.newsletter form#newsletter .form-group .form-control { padding: 10px; font-size: 12px; font-size: 0.75rem; } }
section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit { border-radius: 0; background-color: #000; border: 1px solid black; font-family: "Greysans", Helvetica, Arial, sans-serif; color: white; text-transform: uppercase; font-size: 14px; font-size: 0.875rem; letter-spacing: 3px; transition: all 0.3s ease; cursor: pointer; min-height: 68px; border: none; position: absolute; right: 0; top: 0; z-index: 100; padding: 0 20px; }
section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit:hover, section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit:focus { text-decoration: none; color: black; }
section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit:hover, section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit:focus { background-color: #494a4a; border-color: transparent; color: white; }
@media (max-width: 423px) { section.newsletter form#newsletter .form-group .wpcf7-form-control.wpcf7-submit { min-height: 42px; padding: 0 10px; font-size: 10px; font-size: 0.625rem; } }
section.newsletter form#newsletter .form-group .input-group-btn { position: relative; }
section.newsletter form#newsletter .form-group .input-group-btn .ajax-loader { z-index: 1000; position: absolute; right: -20px; top: 20px; }
section.newsletter .wpcf7-response-output { margin: 0; padding: 10px; text-align: center; }
section.newsletter .wpcf7-response-output.wpcf7-validation-errors, section.newsletter .wpcf7-response-output.wpcf7-acceptance-missing { border-color: red; }












